* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: black;
}
nav {
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
}
nav .right {
  display: flex;
  font-size: 13px;
  color: rgb(38, 38, 38);
  align-items: center;
  gap: 1.5rem;
}
nav .right .logo img{
  width: 8vw;
}
nav .left {
  display: flex;
  font-size: 14px;
  color: rgb(38, 38, 38);
  align-items: center;
  gap: 1.5rem;
}
nav .left svg{
  height: 1.4rem;
}
.card {
  width: 37vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
.card div {
  width: 82%;
  margin: 8px 0;
  line-height: 1.5;
  display: flex;
}
.card h2 {
  font-weight: 600;
  font-size: 29px;
}
.card button {
  font-size: 16px;
  padding: 10px 12px;
  font-weight: 600;
  color: #fff;
  background-color: #005ca5;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-top: 0.5rem;
}
.card div a {
  width: 60%;
  display: block;
  margin-top: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
section:first-child {
  height: 91vh;
  width: 100%;
  background: url("./public/Highlight-Surface-Laptop-AI-7Ed-Sapphire-MC001-3000x1682_VP4-1399x600.avif")
    no-repeat center;
  background-size: cover;
  position: relative;
}
section:first-child .card {
  position: absolute;
  top: 8%;
  left: 5%;
}
section:nth-child(2),
section:nth-child(4) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section:nth-child(4) {
  margin: 4rem 0 0 0;
}
section:nth-child(2) .row,
section:nth-child(4) .row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 4.6rem 0;
}
section:nth-child(4) .row {
  margin: 0.5rem 0;
}
.CardBlock {
  width: 23.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-shadow: 1px 1px 10px #00000048;
}
.CardBlock .img {
  width: 100%;
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background: url("./public/Content-Card-Copilot-Native-App-ROW.avif");
}
.img2 {
  background: url("./public/gldn-XSS-CP-Xbox-Series-S-Evergreen.webp");
}
.img3 {
  background: url("./public/gldn-XSX-CP-Xbox-Series-X.webp");
}
.img0 {
  background: url("./public/gldn-CP-M365-Icons-Teams.avif");
}
.CardBlock h2 {
  font-weight: 600;
  line-height: 1.2;
}
.CardBlock button {
  background-color: #005cbc;
  /* margin: 0 0 1.4rem 1.4rem; */
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 9px 13px;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  bottom: 1.5rem;
  left: 1.4rem;
}
.CardBlock .btn {
  height: 10vh;
}
.CardBlock .para {
  line-height: 1.5;
}
.CardBlock .content {
  margin: 1.4rem;
  display: flex;
  height: auto;
  gap: 0.8rem;
  flex-direction: column;
}
section:nth-child(3) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(3) .card {
  width: 48%;
  height: 100%;
}
section:nth-child(3) .card div {
  width: 61%;
}
section:nth-child(3) .img {
  height: 91vh;
  width: 90%;
  background: url("./public/Highlight-Slim-Multi-Canvas-Game-Pass-APR-2025_VP4-1260x600.avif")
    no-repeat center;
  background-size: cover;
}
section:nth-child(3) .img p,
section:nth-child(3) .img h2 {
  color: #fff;
}
.utils {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.utils .block {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.utils .block .icon img {
  height: 2.7rem;
}
.utils .block .url a {
  font-weight: 600;
  color: #007cd1;
  text-decoration: underline;
}
.For_business {
  font-size: 29px;
  width: 90%;
  font-weight: 600;
}
footer {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer {
  display: flex;
  align-items: center;
  width: 90%;
}
.footer span img {
  height: 2rem;
  margin: 0.5rem;
}
