* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: black;
}
nav {
  height: 9vh;
  width: 100%;
}
.card {
  width: 37vw;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
.card div {
  width: 82%;
  margin: 8px 0;
  line-height: 1.5;
  display: flex;
}
.card h2 {
  font-weight: 600;
  font-size: 29px;
}
.card button {
  font-size: 16px;
  padding: 10px 12px;
  font-weight: 600;
  color: #fff;
  background-color: #005ca5;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-top: 0.5rem;
}
.card div a {
  width: 60%;
  /* border: 1px solid #fff; */
  display: block;
  margin-top: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
section:first-child {
  height: 91vh;
  width: 100%;
  background: url("./public/Highlight-Surface-Laptop-AI-7Ed-Sapphire-MC001-3000x1682_VP4-1399x600.avif")
    no-repeat center;
  background-size: cover;
  position: relative;
}
section:first-child .card {
  position: absolute;
  top: 8%;
  left: 5%;
}
section:nth-child(3) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(3) .card {
  /* border: 1px solid red; */
  width: 48%;
  height: 100%;
}
section:nth-child(3) .card div {
  width: 61%;
  /* border: 1px solid red; */
}
section:nth-child(3) .img {
  height: 91vh;
  width: 90%;
  background: url("./public/Highlight-Slim-Multi-Canvas-Game-Pass-APR-2025_VP4-1260x600.avif")
    no-repeat center;
  background-size: cover;
}
section:nth-child(3) .img p,
section:nth-child(3) .img h2 {
  color: #fff;
}
